@import '../../../styles/Imports';

.app {
    &-footer {
        background-color: #f8f9fa;

        &__links {
            line-height: 1.5;

            a {
                --link-color: #000;

                text-decoration: none;
                color: var(--link-color);

                border-bottom: 1px solid var(--link-color);

                &:hover {
                    --link-color: #2580ff;
                }
            }
        }
    }
}
