@import '../../../styles/Imports';

.app {
    &-footer {
        &__links {
            a {
                --link-color: #000;

                text-decoration: none;
                color: var(--link-color);

                border-bottom: 1px solid var(--link-color);

                &:hover {
                    --link-color: #772ff8;
                }
            }
        }
    }
}
