@import '../../../styles/Imports';

.appeal {
    &__template {
        margin-top: 50px;
        padding: 0 60px;

        font-size: 1.1em;

        &__head {
            font-weight: 500;
        }

        &__text {
            margin-top: 20px;

            line-height: 1.5;

            .text {
                &--right {
                    text-align: right;
                }

                &--center {
                    text-align: center;
                }

                &--mt {
                    margin-top: 1em;
                }
            }
        }
    }
}
